{% extends 'blog/main.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="container mt-5">
  <div class="row mt-5 pt-5">
    <div class="col-md-6 offset-md-3">
      <div style="display: flex; align-items: center;">
        <div style="display: flex; align-items: center;">
          <img class="ml-auto rounded-circle account-img"
            src="{{ user.profile.image.url }}"
            alt="{{ user.username }}"
            height="45"
          />
          <h5 class="text-muted">
            <p class="text-info text-sm mt-4">{{ user.username }}</p>
          </h5>
        </div>
        <p class="text-muted mx-2 mt-3">create a new blog</p>
      </div>
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <div class="mt-2">
            {{ form|crispy }}
            <button type="submit" class="btn btn-secondary">Post</button>
            <a href="{% url 'blogs' %}" class="btn btn-danger">Cancel</a>
          </div>
        </fieldset>
      </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}