{% extends 'blog/main.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="container mt-5">
  <div class="row mt-5 pt-5">
    <div class="col-md-6 offset-md-3">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="mt-2 border-bottom">Update Blog</legend>
          <div class="mt-2">
            {{ form|crispy }}
            <button type="submit" class="btn btn-secondary">Update</button>
            <a href="{% url 'blogs' %}" class="btn btn-danger">Cancel</a>
          </div>
        </fieldset>
      </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}